{{extend ('./layout.html')}}

{{#block ("body")}}
{{extend ('./menu.html')}}
<div class="main-container">
	<div class="padding-md">
		<h2 class="header-text">
			Form Element
			<span class="sub-header">
							Basic form elements
						</span>
		</h2>
		<form  action="/action/actionAdd" method="post" enctype="multipart/form-data">
		<div class="smart-widget m-top-lg widget-dark-blue">
			<div class="smart-widget-header">
				添加权限
				<span class="smart-widget-option">
								<span class="refresh-icon-animated">
									<i class="fa fa-circle-o-notch fa-spin"></i>
								</span>
	                            <a href="#" class="widget-toggle-hidden-option">
	                                <i class="fa fa-cog"></i>
	                            </a>
	                            <a href="#" class="widget-collapse-option" data-toggle="collapse">
	                                <i class="fa fa-chevron-up"></i>
	                            </a>
	                            <a href="#" class="widget-refresh-option">
	                                <i class="fa fa-refresh"></i>
	                            </a>
	                            <a href="#" class="widget-remove-option">
	                                <i class="fa fa-times"></i>
	                            </a>
	                        </span>
			</div>
			<div class="smart-widget-inner">
				<div class="smart-widget-hidden-section">
					<ul class="widget-color-list clearfix">
						<li style="background-color:#20232b;" data-color="widget-dark"></li>
						<li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
						<li style="background-color:#23b7e5;" data-color="widget-blue"></li>
						<li style="background-color:#2baab1;" data-color="widget-green"></li>
						<li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
						<li style="background-color:#fbc852;" data-color="widget-orange"></li>
						<li style="background-color:#e36159;" data-color="widget-red"></li>
						<li style="background-color:#7266ba;" data-color="widget-purple"></li>
						<li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
						<li style="background-color:#fff;" data-color="reset"></li>
					</ul>
				</div>
				<div class="smart-widget-body">

						<div class="form-group">
							<label for="action_name_zh">权限中文名称</label>
							<input required type="text" class="form-control" id="action_name_zh" name="action_name_zh" placeholder="请输入权限中文名称">
						</div><!-- /form-group -->
						<div class="form-group">
							<label for="action_name_en">权限英文名称</label>
							<input required type="text" class="form-control" id="action_name_en" name="action_name_en" placeholder="请输入权限英文名称">
						</div><!-- /form-group -->
						<div class="form-group">
							<label for="parent_id">顶级ID</label>
							<input required type="text" class="form-control" id="parent_id" name="parent_id" placeholder="请输入顶级ID">
						</div><!-- /form-group -->


						<div class="form-group">
							<button type="submit" class="btn btn-success btn-sm">提交</button>
						</div><!-- /form-group -->
				</div>
			</div><!-- ./smart-widget-inner -->
		</div><!-- ./smart-widget -->
		<!-- ./smart-widget -->
		</form>

	</div><!-- ./padding-md -->
</div><!-- /main-container -->

{{/block}}
