{{extend ('./layout.html')}}

{{#block ("body")}}
{{extend ('./menu.html')}}
<div class="main-container">
	<div class="padding-md">
		<ul class="breadcrumb">
			<li><span class="primary-font"><i class="icon-home"></i></span><a href="index.html"> Home</a></li>
			<li>Table</li>
			<li>Datatable</li>
		</ul>

		<input type="button" onclick="location.href='/user/userAdd'" value="添加账号">
		<table class="table table-striped" id="dataTable">
			<thead>
			<tr>
				<th>ID</th>
				<th>账号名称</th>
				<th>账号邮箱</th>
				<th>创建时间</th>
				<th>账号登录次数</th>
				<th>账号类型</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			{{#each(array)}}
			<tr>
				<td>{{this.user_id}}</td>
				<td>{{this.user_name}}</td>
				<td>{{this.user_email?this.user_email:"无邮箱地址"}}</td>
				<td>{{this.user_time?this.moment(this.user_time).format('YYYY-MM-DD, h:mm:ss'):"无创建时间"}}</td>
				<td>{{this.user_login_count?this.user_login_count:"未登陆"}}</td>
				<td>{{this.type_name}}</td>
				<td>
					<a href="#" onclick="location.href='/user/userEdit?user_id={{this.user_id}}'">编辑</a>
					<a href="javascript:void(0)" onclick="Delete({{this.user_id}})">删除</a>
					<a href="#" onclick="location.href='/user/userAction?user_id={{this.user_id}}'">权限</a>
				</td>
			</tr>
			{{/each}}

			</tbody>
		</table>

		<ul class="pagination">

			<!--上翻页-->
			{{#if( page<=1 )}}
			<li class="disabled">
				<a>
					<span>&laquo;</span>
				</a>
			</li>
			{{else}}
			<li>
				<a href="/user/userList?page={{page-1}}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			{{/if}}

			<!--中间页码-->
			{{#each(totalPageArray)}}
			{{#if(page===this)}}
				<li class="active"><a>{{this}}</a></li>
			{{else}}
				<li>
					<a href="/user/userList?page={{this}}">{{this}}</a>
				</li>
			{{/if}}
			{{/each}}


			<!--下翻页-->
			{{#if(page >= totalPage)}}
			<li class="disabled">
				<a aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
			{{else}}
			<li>
				<a href="/user/userList?page={{page+1}}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
			{{/if}}



		</ul>
	</div><!-- ./padding-md -->
</div><!-- /main-container -->
<script>
	function Delete(delete_id)
	{
		if(delete_id)
		{
			if(confirm('是否确认删除?'))
			{
				location.href="/user/userDelete?delete_id="+delete_id;
				return false;
			}else{
				location.href="/user/userList";
				return false;
			}
		}
	}
</script>
{{/block}}